/* 
	LIMPAR AS FORMATAÇÕES PADRÕES 
	(*)-SIGNIFICA TUDO 
*/ 	
 * { 
 		margin: 0;
 		padding: 0;
 }

 body {
 	font-size: 1em; /* tamanho da fonte */
 	font-family: "Trebuchet MS", helvetica, sans-serif; /* tipo de fonte */
 	background: #e6e6e6; /* cor de fundo */
 }



 /* 
	Layout ********************************************************************************
 */

 #area-cabecalho {
	background: #f7b600; /* cor de fundo */
	padding: 15px; /* espaçamento */
	text-align: center; /* centralizar */ 
 	}

 #area-logo, #area-menu {
 	padding: 10px; /* espaçamento */
 }

 #area-principal {
 	width: 920px; /* largura *//*(obs:920px é a largura padrão para dispositivos modernos) */
 	margin: 0 auto; /* 0px (inferior e superior) e auto(automatico nas laterais) */ 	
 }

 /* aplicando formatações em grupos de ID`s */
 #area-postagens, #area-lateral {
 	background: orange; /* cor de fundo */
 }

/* 	Somando 660+240=900 - sobrando 20px de distancia de uma para outra,
	lembrando que o total definido foi de 920px(area-principal). 
*/
 #area-postagens {
 	width: 660px; /* Largura */
 	float: left; /* flutuamento a esquerda */
 }

 #area-lateral {
 	width: 240px; /* Largura */
 	float: right; /* flutuamento a direita */
 }

 .postagem {
 	padding: 20px; /* espaçamento interno */
 	margin-bottom: 20px; /* espaçamento externo */
 	background: white; /* cor de fundo */
 }

 #rodape {
 	clear: both; /* limpando o fluxo do float(elementos flutuantes),para que o rodape ocupe somente o espaço abaixo */
 	text-align: center; /* centralizar */
 	padding: 15px; /* espaçamento interno */
 	background: #CCC; /* cor de fundo */
 }

 /* 
	Formatação do menu ********************************************************************************
 */
a {
	text-decoration: none;
}

	/* links que foram visitados e não visitados */
 a:link, a:visited {
 	color: #fff; /* cor da fonte */
 	padding: 8px 12px; /* espaçamento interno de 8px(shape-outside: perior e inferior) e 12px(laterais) */
 }

	/* Efeito ao se passar o mause */
 a:hover {
 	color: #f7b600; /* cor da fonte */
 	background: #fff; /* cor de fundo */
 }

 /* 
 	Formatções em geral ********************************************************************************
 */	
h1 {
	color: #4e4e4e; /* cor da fonte */
	font-size: 2.5em; /* tamnho da fonte */
}

.branco {
	color: white; /* cor da fonte */
}
