/**********************
 Layout largura fixa */

 body {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     background: #f2f2f2;
 }

 #container {
     width: 720px; /* largura */
     margin: 0 auto; /* espaçamento externo */
     background: #fff; /* cor de fundo*/
 }

 #marca {
     height: 100px; /* altura */
     background: #9e9e9e; /* cor de fundo */
     text-align: center; /* centralizar o conteudo */
     line-height: 100px; /* altura da linha */
 }

/* INCIO CONTEUDO */ 
 #conteudo {
     width: 520px; /* largura */
     float: right; /* alinhando a direita */
 }

 #conteudo-principal {
     width: 320px; /* largura */
     float: left; /* alinhando a esquerda */
 }

 #conteudo-secundario {
     width: 180px; /* largura */
     float: right; /* alinhando a direita */
     background: #d1d1d1;
 }

 #conteudo-secundario h1,
 #conteudo-secundario h2,
 #conteudo-secundario h3,
 #conteudo-secundario p {
     padding-left: 20px; /* espaçamento interno a esquerda */
     padding-right: 20px; /* espaçamento interno a direita */
 }
 /* FIM CONTEUDO */ 

/*OBS.: somando 520 + 180 = 700, sobrando 20px de espaço entre o conteudo e navegação 
tatal do cantainer é 720 */
 
/* INICIO NAVEGAÇÃO */
 #navegacao {
     width: 180px; /* largura */
     float: left; /* alinhando a esquerda */
     padding-top: 20px; /* espaçamento interno superior */
     padding-bottom: 20px; /* espaçamento interno inferior */
     background: #d1d1d1; /* cor de fundo */
 }

 #navegacao ul {
     list-style: none;
 }

 #navegacao li a {
     text-decoration: none;
 }
 /* FIM NAVEGAÇÃO */

 #rodape {
     clear: both; /* limpa a formatção flutuante do (float) */
     background: #c4c4c4; /* cor de fundo */
     padding: 5px; /* espaçamento interno */
 }